- 
  var contacts = [
    {href: "mailto:julius@gaenseri.ch", icon: "fa-envelope", text: "My E-Mail Address"},
    {href: "https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf", icon: "fa-key", text: "My GPG Key on keybase.io"},
    {href: "https://linkedin.com/in/julius-gonsior-2790b3141/", icon: "fa-linkedin", text: "Link to my Linkedin profile"},
    {href: "https://github.com/jgonsior", icon: "fa-github", text: "Link to my GitHub profile"},
    {href: "https://telegram.me/jgonsior", icon: "fa-telegram", text: "My Telegram username"},
    {href: "https://twitter.com/juliusgonsior", icon: "fa-twitter", text: "My (not really used) Twitter Account"},
    {href: "xmpp://julius@ifsr.de", icon: "fa-comment", text: "My Jabber Address"},
    {href: "https://www.last.fm/user/ragadabing", icon: "fa-lastfm", text: "My Last.fm Account"},
    {href: "https://www.strava.com/athletes/15823005", icon:"fa-bar-chart", text: "My Strava Account"},
    {href: "https://letterboxd.com/Ragadabing/", icon:"fa-film", text: "My Letterboxd Account"},
    {href: "https://www.goodreads.com/user/show/70823847-julius-gonsior", icon: "fa-book", text: "My goodreads Account"},
    {href: "http://orienteering.org/about-orienteering/", icon: "fa-compass", text: "A link explaining what my favourite sport Orienteering is"}
  ]

- 
  var projects = [
    {
      title: "Beg your pardon, what is a gaenseri.ch?",
      id: "gaenserich",
      text: "Well, my last name is <i>Gonsior</i> which is a Germanized form of the polish word <i>Gąsior</i> which translates to <i>Gander</i>, so a male goose. And because little Julius in 2012 thought it would be nice to have a domain where the top-level domain is part of the spoken domain name, he choose a German translation of Gander, Gänserich. But then he discovered that Unicode in top-level domains  will probably never happen, so he chose to replace the <i>&auml;</i> vowel with <i>ae</i>."
    },
    {
      title: "Coding Projects",
      id: "Projects",
      text: "I'm studying computer science at the <i>Technische Universität Dresden</i> in Germany. Three selected publically available coding projects I was involved in during the last years follow:"
    },
    {
      title: "Angry Programmers",
      id: "angry",
      tags: "Reinforcement Learning, Java, Computer Vision",
      url: "https://github.com/jgonsior/AngryProgrammers",
      urlAlt: "Link to the GitHub AngryProgrammers Repository",
      text: "Together with my friend <a href='https://www.linkedin.com/in/richard-kwasnicki-9131a6122/'>Richard</a> we tried to participate in the <a href='https://aibirds.org/'>AIBirds</a> competition. Our plan was to use Reinforcement Learning to train our agent. Unfortunately we discovered, instead of solving the game properly, that the implementation of the game, with which we've been provided by the competition, wasn't suited for any type of Machine Learning. It took us around one week to play only 3.000 levels, even after months of fine-tuning and optimization. For proper Q-Learning you need way more training iterations, so after some months we decided that we should reimplement the game instead - and that we don't have the time for that, so we abandand this project.",
    },
    {
      title: "PhotoK",
      id: "photok",
      tags: "Python, JavaScript, Flask, Angular, REST",
      url: "https://github.com/jgonsior/photok",
      urlAlt: "Link to the GitHub photok Repository",
      text: "One of the courses I took during my exchange studies in Sweden was \"Advanced Web Programming\". We were requested to write a <i>fully functional large-scale interactive web application. Programming focus on, state-of-the-art JavaScript framework + Service Oriented (API) Bakend. Not webdesign</i>. We developed a fully functional photo contest application, including authentication, photo upload etc.",
    },
    {
      title: "WikiData SPARQL Query Log Analysis",
      id: "wiki",
      tags: "WikiData, SPARQL, Python, Java, Visualisation, Statistics, Data Science",
      url: "https://github.com/Wikidata/QueryAnalysis",
      urlAlt: "Link to the GitHub QueryAnalysis Repository",
      text: "As a student research assistant I'm currently analysing WikiData SPARQL Query logs in the reasearch group Knowledge-Based Systems led by Prof. Dr. Markus Krötzsch at the Technische Universität Dresden.",
    },
    {
      title: "Music",
      id: "music",
      text: "In my free time I play the bass guitar in multiple bands, the most popular one were probably the not anymore existing <a href=\"https://www.facebook.com/ldracoons\">Last Dangerous Racoons</a>, you can listen to our music <a href=\"https://soundcloud.com/lastdangerousracoons\">here</a> on Soundcloud."
    }
  ]

doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title Julius gaenseri.ch
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    div.background
      div.layer 
        //- just a stupid comment 

    div#bar
      div#gradient
        //- just a stupid comment 

    article#a1
      section
        div.content
          h1 Julius Gonsior
          h2 #[span >] Software Engineer
          h2 #[span >] Data Scientist
          h2 #[span >] Orienteerer

    article#a2
      section
        div.content
          div.text
            ul#contacts
              each contact in contacts
                li #[a.fa-stack.fa-lg(href=contact.href aria-hidden="true") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-stack-1x.fa-inverse(class=contact.icon title=contact.text)] #[span.sr-only #{contact.text}]]

    each project, index in projects
      article(class=project.id id="a"+(index+3))
        section
          div.content
            div.text
              h2 #{project.title} 
                if project.url
                  span #[a.fa.fa-github(href=project.url aria-hidden="true" title=project.urlAlt)] #[span.sr-only #{project.urlAlt}]

              if project.tags
                h3 #{project.tags}
              p !{project.text}
